.content {
  font-family: 'Roboto', sans-serif;
}
#upBtn {
  display: none;
  opacity: 0.2;

  width: 50px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;

  position: fixed;
  bottom: 20px;
  right: 20px;
}
.search-form {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #4169e1;
}

.btnQuery {
  padding: 10px;
  background: #ced2d5;
  color: #b0b0b0;
  border: 7px;
  cursor: pointer;
  border-radius: 5px;
  transition: color 250ms linear, background-color 250ms linear;
}

.btnQuery:hover {
  color: #ced2d5;
  background-color: #b0b0b0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
  padding: 15px;
}

.gallery-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 4 * 30px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.card-link {
  display: block;
  height: 100%;
  color: black;
}
.card-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  padding: 15px;
}

.info-item {
  text-align: center;
}

.info-item:not(:first-child) {
  margin-left: 10px;
}
